.card{
  border: solid 1px var(--bg-secondary);
  border-radius: 10px;
  background-color: var(--bg-primary);
  color: white;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.card *{
  margin-left: 10px;
  margin-top: 10px;
}

.card img{
  width: 300px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  object-position: center;
  margin-left: 0px;
  margin-top: 0px;
}

.card p{
  max-width: 300px;
  height: 90px;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;  
}

.tag_container{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag{
  width: fit-content;
  padding: 5px 5px 5px 5px;
  margin: 5px 0px 5px 0px;
  height: 30px;
  background-color: var(--bg-primary);
  border: solid 1px var(--bg-secondary);
  border-radius: 10px;
}